<br>
<div class="basic-grey">
  <h1>Seja bem Vindo!</h1>
  <script> var a = "Wololo";</script>

  <ul>
    <li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"> <%= link_to "Contatos", contacts_path%></li></span>
    <li><span class="glyphicon glyphicon-th-list" aria-hidden="true"> <%= link_to "Tipos", kinds_path%></li></span>
  </ul>
</div>